body {
    background-color: #3b4244;
}

header, main {
    text-align: center;
    font-family: "Unica One";
    color: white;
    padding: 1%;
}

h2 {
    font-size: 300%;
    margin-top: 1.2em;
    margin-bottom: 1em;
}

h3 {
    font-size: 150%;
    font-weight: 100;
}

p {
    font-size: 120%;
}

.error {
    background-color: red;
    width: 18em;
    margin: auto;
}

hr {
    height: 4px;
    background-color: black;
    border-color: #3b4244;
    overflow: hidden;
}

input {
    font-family: "Unica One";
    background-color: #41c4f3;
    border-color: white;
    padding: .5em;
    font-size: 120%;
}

label {
    font-size: 120%;
}

div p {
    font-size: 100%;
}

input:hover {
    background-color: #6ad5fc;
}