body {
    background-color: #3b4244;
}

.container {
    text-align: center;
    font-family: "Unica One";
}

.bgVid {
    position: fixed;
    width: 100%;
    width: 100%;
    z-index: -1;
    opacity: .35;
    overflow: hidden;
}

.bgVid video {
    min-width: 100%;
    min-height: 100%;
}

.welcome {
    padding: 8%;
    margin-bottom:2%;
}

.trail {
    padding: 2%;
}

h1 {
    margin-top: 4%;
    margin-bottom: 0%;
    font-size: 500%;
    color: white;
}

h2 {
    font-size: 350%;
    margin-top: 1.2em;
    margin-bottom: 1em;
    color: white;
}

p {
    margin-top: 0%;
    font-size: 125%;
    color: white;
}

hr {
    height: 4px;
    background-color: black;
    border-color: #3b4244;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #41c4f3;
}

ul li {
    float: right;
}

.trail img {
    display: inline;
    width: .9em;
    height: .9em;
    padding: 0%;
}

ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
}

ul li a:hover {
    background-color: #6ad5fc;
}

input {
    display: inline-block;
    width: 18%;
    height: 3em;
    margin-right: 20px;
    background-color: #41c4f3;
    font-family: "Unica One";
    font-size: 150%;
    border-color: white;
}

input:hover {
    background-color: #6ad5fc;
}