<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrailFinder: Find A Trail</title>
    <link href="static/forms.css" rel="stylesheet"/>
    <link href="static/fonts.css" rel="stylesheet"/>
</head>

<body>
    <main>
        <h2>FIND A TRAIL</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.location.label }}<br>
                {{ form.location(size=20) }}
            </p>
            <hr class="solid">
            <p>
                {{ form.terrain.label }}<br>
                {{ form.terrain() }}
            </p>
            <p>
                {{ form.type.label }}<br>
                {{ form.type() }}
            </p>

            
            <hr class="solid">
            <h3>SELECT THE FEATURES YOU WOULD LIKE:</h3>
            <div class="checkboxes">
                <p>{{ form.jumps }} {{ form.jumps.label }}</p>
                <p>{{ form.berms }} {{ form.berms.label }}</p>
                <p>{{ form.drops }} {{ form.drops.label }}</p>
                <p>{{ form.rolls }} {{ form.rolls.label }}</p>
                <p>{{ form.skinnies }} {{ form.skinnies.label }}</p>
            </div>
            <p>{{ form.submit() }}</p>
        </form>
    </main>
</body>