<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrailFinder: Find A Trail</title>
</head>

<body>
    <header>
        <h2>Find A Trail</h2>
        <input type="text" id="location" placeholder="Enter your location">
    </header>
    <main>
        <section id="dropdowns">
            <p>Trail Terrain</p>
            <select>
                <option value="flow">Flowy</option>
                <option value="tech">Technical</option>
                <option value="none">No Preference</option>
            </select>
            <p>Trail Type</p>
            <select>
                <option value="up">Uphill</option>
                <option value="down">Downhill</option>
                <option value="both">Both</option>
                <option value="none">No Preference</option>
            </select>
        </section>

        <section id="checkboxes">
            <p>Select the features you would like:</p>
            <input type="checkbox" id="jumps">
            <label for="jumps">Jumps</label><br>
            <input type="checkbox" id="berms">
            <label for="berms">Berms</label><br>
            <input type="checkbox" id="drops">
            <label for="drops">Drops</label><br>
            <input type="checkbox" id="rolls">
            <label for="rolls">Rock Rolls</label><br>
            <input type="checkbox" id="skinnies">
            <label for="skinnies">Skinnies</label><br>
        </section>
        <a href="/placeholder">Search</a>
    </main>
</body>