<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrailFinder: Home</title>
</head>

<body>
    <header>
        <nav>
            <a href="/login">Login</a>
        </nav>
    </header>
    <main>
        <section id="Welcome">
            <div class="container">
                <h1>TrailFinder</h1>
                <p>Spend less time searching and more time riding</p>
            </div>
        </section>

        <section id="buttons">
            <div class="container">
                <a href="/find_a_trail">Find A Trail</a>
                <a href="/recommend_a_trail">Recommend A Trail</a>
                <a href="/saved_trails">Saved Trails</a>
            </div>
        </section>
    </main>
</body>