<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrailFinder: Home</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico"/>
    <link href="static/home.css" rel="stylesheet"/>
    <link href="static/fonts.css" rel="stylesheet"/>
</head>

<body>
    <header>
        <div class="topbar">
            <ul>
                {% if user.auth == False: %}
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/login">LOGIN</a></li>
                {% else: %}
                    <li><a href="/logout" onclick="logout(user)">LOGOUT</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <main>
        <div class="bgVid">
            <video autoplay muted loop playsinline>
                <source src="/static/videos/TF_vid_final.mp4" type="video/mp4">
            </video>
        </div>
        <div class="welcome">
            <section id="Welcome">
                <div class="container">
                    <h1>TRAILFINDER</h1>
                    <p>SPEND LESS TIME SEARCHING AND MORE TIME RIDING</p>
                </div>
            </section>
        </div>

        <section id="buttons">
            <div class="container">
                <input type="button" value="FIND A TRAIL" onclick="location.href='/find_a_trail'"/>
                <input type="button" value="RECOMMEND A TRAIL" onclick="location.href='/recommend_a_trail'"/>
                <input type="button" value="SAVED TRAILS" onclick="location.href='/saved_trails'"/>
            </div>
        </section>
        
    </main>
</body>