<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrailFinder: Saved Trails</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico"/>
    <link href="static/results.css" rel="stylesheet"/>
    <link href="static/fonts.css" rel="stylesheet"/>
    <script src="/static/main.js"></script>
</head>

<body>
    <main>
        <div class="container">
            <h2>SAVED TRAILS:</h2>
            <hr>
            {% if trails %}
                {% for x in trails %}
                    <div class="trail">
                        <p><u>TRAIL NAME: {{ x[0].upper() }}</u> <img src='{{ x[2] }}' alt='{{ x[4] }}'></p>
                        <p>LOCATION: {{ x[1].upper() }} ({{ x[3] }})<br></p>
                        {% if x[5] == None %}
                            <textarea id="place" placeholder="Enter notes here" rows="5" cols="25" maxlength="255"></textarea>
                            <script type="text/javascript">
                                document.getElementById('place').id = '{{ x[6] }}_text';
                            </script>
                        {% else %}
                            <textarea id="place" rows="5" cols="25" maxlength="255">{{ x[5] }}</textarea>
                            <script type="text/javascript">
                                document.getElementById('place').id = '{{ x[6] }}_text';
                            </script>
                        {% endif %}
                        <br>
                        <button id="place" onclick="saveNotes(this)">SAVE NOTE</button>
                        <script type="text/javascript">
                            document.getElementById('place').id = '{{ x[6] }}';
                        </script>
                        <br><br>
                        <button id="place" onclick="deleteTrail(this)">UNSAVE TRAIL</button>
                        <script type="text/javascript">
                            document.getElementById('place').id = '{{ x[6] }}_delete';
                        </script>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <p>YOU HAVE NOT SAVED ANY TRAILS YET</p>
            {% endif %}
        </div>
    </main>
</body>

<!---Notes stored in x[5]--->